.melkism-header{

position:sticky;

top:0;

z-index:50;

background:#ffffff;

border-bottom:1px solid #CCCCCC;

}


.melkism-header-container{

max-width:1280px;

margin:auto;

padding:16px 24px;

display:flex;

align-items:center;

justify-content:space-between;

}


.brand-logo img{

height:42px;

width:auto;

}


.header-nav{

display:flex;

gap:24px;

}



.header-nav a{

color:#111111;

text-decoration:none;

font-size:15px;

}



@media(max-width:768px){

.header-nav{

display:none;

}

}