:root {

  --font-primary:
    "Vazirmatn",
    system-ui,
    sans-serif;

  --font-display:
    "Vazirmatn",
    sans-serif;


  --text-display-size:64px;
  --text-h1-size:48px;
  --text-h2-size:36px;
  --text-h3-size:28px;
  --text-body-lg-size:18px;
  --text-body-size:16px;
  --text-caption-size:12px;


  --weight-light:300;
  --weight-regular:400;
  --weight-medium:500;
  --weight-semibold:600;
  --weight-bold:700;
  --weight-extra-bold:800;


  --line-height-normal:1.8;

}


html {

  font-family:
    "Vazirmatn",
    system-ui,
    sans-serif;

}
